<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sidm.suchgame" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true" >
        <activity
            android:name=".Splashpage"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".Helppage"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.main" />

                <category android:name="android.intent.category.default" />
            </intent-filter>
        </activity>

        <activity
            android:name=".Optionspage"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.main" />

                <category android:name="android.intent.category.default" />
            </intent-filter>
        </activity>

        <activity
            android:name=".Mainmenu"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.default" />
            </intent-filter>
        </activity>



        <activity
            android:name=".GamePage"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.default" />
            </intent-filter>
        </activity>

    </application>

</manifest>
